<footer class="footer border-top border-bottom">
  <section>
    <div class="container p-5">
      <div class="row">
        <div class="col-xs-12 col-lg-6">
          <ul class="list-unstyled text-muted footer-content">
            <li>Ministerio de Finanzas Públicas</li>
            <li>Dirección de Comunicación Social</li>
            <li>8a. Avenida 20-59 Zona 1, Centro Cívico, Guatemala - 01001</li>
            <li>PBX (502) 2374-3000 ext. 10102</li>
            <li><small>Dirección de Tecnologías de la Información</small></li>
          </ul>
        </div>
        <div class="col-xs-12 col-lg-6">
          <ul class="justify-content-end list-unstyled d-flex">
            <li class="text-muted d-none d-sm-block">Navegadores recomendados:</li>
            <li class="ms-3"><i class="bi bi-browser-chrome text-muted"></i></li>
            <li class="ms-3"><i class="bi bi-browser-edge text-muted"></i></li>
            <li class="ms-3"><i class="bi bi-browser-firefox text-muted"></i></li>
            <li class="ms-3"><i class="bi bi-browser-safari text-muted"></i></li>
          </ul>
        </div>
      </div>

    </div>
  </section>
</footer>
